<p>list-movie works!</p>
<div class="container">
    <div class="row">
      <div class="col-sm-3" *ngFor="let movie of listMovie">
       <app-item-movie [film]='movie' [likes]="listLikeMovie" (eventOutput)='invokeActionFromChild($event)'></app-item-movie>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h3>Danh sách like</h3>
          <p *ngFor="let itemLikeMovie of listLikeMovie">
            {{itemLikeMovie.name}} - {{itemLikeMovie.totalLike}}
          </p>
        </div>
      </div>
    </div>
    <button class="btn btn-danger" (click)="demoViewChildren()">Demo viewchildren</button>
</div>
